<div *ngIf="user">
    <h2>{{user.name | uppercase}} Details</h2>
    <div><span>id: </span>{{user.id}}</div>
    <div>
        <label for="user-name">user name: </label>
        <input id="user-name" [(ngModel)]="user.name" placeholder="name" disabled>
    </div>
    <div>
        <label for="user-type">user type: </label>
        <select id="user-type" [(ngModel)]="user.type" placeholder="type" disabled>
            <option *ngFor="let userType of userTypes" value="{{userType}}" disabled>{{userType}}</option>
        </select>
    </div>
    <div>
        <label for="user-birthdate">user birthdate: </label>
        <input type="date" id="user-birthdate" [(ngModel)]="user.birthdate" placeholder="type" disabled>
    </div>
    <div>
        <label for="user-country">user country: </label>
        <input id="user-country" [(ngModel)]="user.country" placeholder="type" disabled>
    </div>
    <div>
        <label for="user-isReady">user isReady: </label>
        <input type="checkbox" id="user-isReady" [(ngModel)]="user.isReady" placeholder="type" disabled>
    </div>
</div>

<button (click)="edit()">Edit</button>
