<h2>Utilisateurs</h2>

<ul class="users">
    <li *ngFor="let user of users">
        <span class="badge">{{user.id}}</span>
        {{user.name}} | {{user.type}}
        <a routerLink="/users/{{user.id}}">
            <button>view</button>
        </a>
    </li>
    
</ul>
